.*
!.gitignore
!.gitkeep

assets/

__pycache__/
apps/
venv/
out/
tmp/
.idea/
.vscode/
.models/
.cache/

*.pt
*.pth
runs/

*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.egg-link
*.egg-info
*.egg-info/dependency_links.txt
*.egg-info/PKG-INFO
*.egg-info/SOURCES.txt
*.egg-info/top_level.txt
*.egg-info/requires.txt
*.egg-info/not-zip-safe
*.egg-info/scripts/
*.egg-info/pth
*.egg-info/namespace_packages.txt
*.egg-info/entry_points.txt
*.egg-info/installed-files.txt
